<h1>Combat initiative</h1>

<table class="table table-bordered">
  <thead><tr>
    <th>Character</th>
    <th>Initiative score</th>
    <th></th>
  </tr></thead>

  <tbody id="characters-list"></tbody>
</table>

<form>
  <input type="text" class="span6" id="input-line" />
  <a href="#" class="btn" id="start-combat"> Start </a>
  <a href="#" class="btn" id="advance-turn"> Next! </a>
</form>
