<h1>Combat initiative</h1>

<% if @encounter %>
  <h2>
    <%= @encounter.name %>
    <span class="xp"><%= @encounter.total_xp %> XP</span>
  </h2>
<% end -%>

<table class="table table-bordered" id="initiative-table">
  <thead><tr>
    <th>Character</th>
    <th>Initiative score</th>
    <th></th>
  </tr></thead>

  <tbody id="characters-list"></tbody>
</table>

<form id="initiative-form" class="cf">
  <p>
    <input type="text" class="span6" id="input-line" />
    <a href="#" class="btn" id="start-combat"> Start </a>
    <a href="#" class="btn" id="advance-turn"> Next! </a>
  </p>

  <p class="help-block" id="input-help">
    Separate character name from initiative score by a space (the last number is
    the initiative) and press <b>Enter</b> to add them to the table.
    Examples:<br/>
    "Jake 15" <br/>
    "Goblin Cutter 7" <br/>
    "The 4th Greatest Rogue 28" <br/>
    <del> "Someone with no initiative" </del>
  </p>
</form>

<% if @encounter %>
  <script type="text/javascript">
    $(function(){
      Initiative.addInitiatives(<%=raw @encounter.roll_initiative.to_json %>)
    })
  </script>
<% end -%>
