<h1>
  D&amp;D Insider Data
</h1>

<% @insider_data.each do |insider_datum| %>
  <div class="insider-datum card">
    <div class="details">
      <%= sanitize insider_datum.html, tags: DnDoR::DND_INSIDER_TAGS %>
    </div>
    <div class="identification">
      <%= insider_datum.data_type %> #<%= insider_datum.original_id %>
    </div>
    <div class="actions">
      <%= link_to 'Destroy', insider_datum,
        confirm: 'Are you sure?', method: :delete, class: 'btn-danger btn' %>
    </div>
  </div>
<% end %>
