// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.card {
  border-radius: 0.5em;
  background-color: #eee;
  padding: 1em;
  width: 40em;
  max-width: 90%;
  margin: 1em;
  float: left;

  @media screen and (max-width: 768px) {
    padding: 3%;
    margin: 1em 0;
    max-width: 94%;
  }

  .actions {
    margin-top: 1em;
  }
}

table.npc-card {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 0.3em 0.5em;
    text-align: left;
    font-weight: normal;
  }

  thead {
    color: white;
    background-color: #445727;

    tr:first-child th {
      font-weight: bold;
      font-size: 140%;
    }

    th {
      font-size: 120%;
    }

    .level-and-role, .xp-value {
      float: right;
    }
  }

  tbody {
    td {
      font-size: 110%;

      &.to-the-right {
        text-align: right;
      }
    }

    &.combat-stats, &.more-info {
      background-color: #e9e8d2;
    }

    &.ability-scores {
      background-color: #cccaad;
    }
  }
}
