// Place all the styles related to the Combat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#initiative-table, #xp-table {
  background-color: white;
  padding: 0.5em;

  #characters-list tr.current-turn {
    background-color: #ffc;
  }
}

#initiative-form {
  padding: 1em;
  background-color: white;

  input {
    margin: 0;

    @media screen and (max-width: 768px) {
      width: 60%;
      display: inline-block;
    }
  }

  p {
    @media screen and (min-width: 768px) {
      float: left;
      margin-right: 2em;
    }
  }
}


h2 .xp {
  color: gray;
  font-weight: normal;
  margin-left: 1em;
}
