// Place all the styles related to the Encounters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.characters {
  .character {
    position: relative;

    .count {
      background-color: #673;
      color: #341;
      border-radius: 0.3em;
      font-size: 150%;
      font-weight: bold;

      padding: 0.5em;

      position: absolute;
      left: 50%;
      top: 1.1em;
      float: left;
    }
  }
}

#encounters-list {
  margin: 0;

  li {
    background-color: white;
    list-style: none;
    border-radius: 0.3em;

    float: left;
    position: relative;

    height: 12em;
    width: 24em;
    padding: 0.5em;
    box-sizing: border-box;
    overflow: hidden;

    margin: 0 1em 1em 0;

    .name {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 0.4em;
    }

    .actions {
      position: absolute;
      bottom: 0.5em;
      right: 0.5em;
    }
  }
}
