// Place all the styles related to the InsiderData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body #page .insider-datum {
  position: relative;
  width: 560px;

  .details {
    // CSS override
    h1 {
      border-radius: 0;
    }

    h2 {
      line-height: 1em;
    }

    background: #fff;
    color: #000000;
    font-size: 8.75pt;
    width: 560px;

    p {
      padding-left: 15px;
      color: #000000;
      font-size: 8.75pt;
    }

    table {
      width: 100%;

      td {
        vertical-align: top;
        padding: 0 10px 0;
        background: #d6d6c2;
        border-bottom: 1px solid #fff;
      }
    }

    .flavor {
      display: block;
      padding: 2px 15px;
      margin: 0;
      background: #d6d6c2;
      font-size:8.75pt;
    }

    p.powerstat {
      padding: 0px 0px 0px 15px;
      margin: 0;
      background: #FFFFFF;
      font-size:8.75pt;
    }

    span.ritualstats {
      float:right;
      padding: 0 30px 0 0;
    }

    p.flavorIndent {
      display: block;
      padding: 2px 15px 2px 30px;
      margin: 0;
      background: #d6d6c2;
    }

    span.clearIndent {
      display: block;
      padding: 2px 15px 2px 30px;
      margin: 0;
      background: #FFFFFF;
    }

    .alt {
      background: #c3c6ad;
    }

    th {
      background: #1d3d5e;
      color: #fff;
      text-align: left;
      padding: 0 0 0 5px;
    }

    i, em {
      font-style: italic;
    }

    ul {
      list-style: disc;
      margin: 1em 0 1em 30px;
    }

    table,
    ul.flavor {
      margin-bottom: 1em;
    }

    ul li {
      color: #3e141e;
    }

    ul.flavor li {
      list-style-image: url("http://www.wizards.com/dnd/images/symbol/x.gif");
      margin-left: 15px;
    }

    a {
      color: #3e141e;
    }

    blockquote {
      padding: 0 0 0 22px;
      background: #d6d6c2;
    }

    span.block {
      display: block;
      padding: 0 0 0 22px;
      background: #d6d6c2;
    }

    h1 {
      font-size: 1.09em;
      line-height: 2;
      padding-left: 15px;
      margin: 0;
      color: #fff;
      background: #000;

      &.player {
        background: #1d3d5e;
        font-size: 1.35em;
      }

      &.dm {
        background: #5c1f34;
      }

      &.trap {
        background: #5c1f34;
        height:38px;
      }

      &.atwillpower {
        background: #619869;
      }

      &.encounterpower {
        background: #961334;
      }

      &.dailypower {
        background: #4d4d4f;
      }

      &.poison {
        background: #000000;

        .level {
          padding-right: 15px;
          margin-top: 0;
          text-align: right;
          float: right;
          position:relative;
          top:-24px;
        }
      }

      &.utilitypower {
        background: #1c3d5f;
      }

      &.familiar {
        background: #4e5c2e;
      }

      .level {
        padding-right: 15px;
        margin-top: 0;
        text-align: right;
        float: right;
      }
    }

    span.milevel {
      font-size:9pt;
    }

    .rightalign {
      text-align: right;
    }

    /* Traps */
    h1.trap {
      .level {
        margin-top: 0;
        text-align: right;
        position:relative;
        top:-60px;
      }

      .type, .xp {
        display: block;
        position: relative;
        z-index: 99;
        top: -0.75em;
        height: 1em;
        font-weight: normal;
        font-size: 0.917em;
      }
    }

    .traplead {
      display: block;
      padding: 1px 15px;
      margin: 0;
      background: #ffffff;
    }
    .trapblocktitle {
      display: block;
      padding: 1px 15px;
      margin: 0;
      background: #d6d6c2;
      font-weight: bold;
    }
    .trapblockbody {
      display: block;
      padding: 1px 15px 1px 30px;
      margin: 0;
      background: #ffffff;
    }

    /* Detail page related link section */
    #RelatedArticles {
      h5 {
        width: 100px;
        float: left;
        padding-top: 10px;
        padding-left: 20px;
        color: #3e141e;
        font-weight: bold;
      }

      ul.RelatedArticles {
        padding: 10px 0 0 0;
        float: right;
        width: 430px;
        margin: 0;
        list-style: none;
      }
    }

    .bodytable {
      border: 0;
      margin: 0;
      width: 560px;
      background: #D1D1BC;

      td {
        border-bottom: none;
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    h2 {
        font-size: 1.25em;
        padding-left: 15px;
        margin: 0;
        color: #fff;
        background: #4e5c2e;
        height:20px;
        font-variant: small-caps;
        padding-top: 5px;
    }

    /* Monster */
    h1.monster {
      background: #4e5c2e;
      height:38px;

      .level {
        margin-top: 0;
        text-align: right;
        position:relative;
        top:-60px;
      }

      .type, .xp {
        display: block;
        position: relative;
        z-index: 99;
        top: -0.75em;
        height: 1em;
        font-weight: normal;
        font-size: 0.917em;
      }
    }

    h2.monster {
      font-size: 9pt;
      padding-left: 15px;
      margin: 0;
      color: #fff;
      background: #4e5c2e;
      height:20px;
      font-variant: small-caps;
      padding-top: 3px;
    }

    h3.monster {
      font-size: 8;
      font-weight: bold;
      color: #000000;
      background: #c3c6ad;
      padding: 0px 5px 0px 10px;
      margin: 0;
      display: block;
    }

    p.monster {
      display: block;
      padding: 2px 15px;
      margin: 0;
      background: #CADBB7;
      font-size:8.75pt;
      display: block;
    }

    p.monstat {
      background: #CADBB7;
    }

    /* Magic Items */
    h1.magicitem {
      background: #DA9722;
      font-size:12pt;
      font-weight:bold;
      height: 17pt;
      margin-top: 2;
      line-height: 1.5em;

      .milevel {
        padding-right: 15px;
        margin-top: 0px;
        text-align: right;
        float: right;
        position:relative;
      }
    }

    h1.mihead {
      background: #DA9722;
      font-size:12pt;
      font-weight:bold;
      height: 17pt;
      margin-top: 2;
      line-height: 1.5em;

      .milevel {
        padding-right: 15px;
        margin-top: 0px;
        text-align: right;
        float: right;
        position:relative;
      }
    }

    p.miflavor {
      display: block;
      padding: 2px 15px;
      margin: 0;
      background: #EFD09F;
      font-size:8.75pt;
      font-style: italic;
      color: #000000;
    }

    table.magicitem {
      width: 560px;
      margin-bottom: 0;

      td {
        border: none;
        font-size: 8.75pt;
        background: #F8E9D5;
      }
    }

    td.mic1 {
      padding-left: 20px;
      padding-right: 0px;
      width: 50px;
    }

    td.mic2 {
      width: 40px;
      padding: 0px;
    }

    td.mic3 {
      width: 100px;
      text-align:right;
      padding: 0px;
    }

    td.mic4 {
      width: 100px;
      padding: 0px;
    }

    h2.magicitem {
      background: #EFD09F;
      color: #000000;
      font-variant: normal;
      font-size: 8.75pt;
      line-height: 18px;
      padding-top: 0px;
      vertical-align: bottom;
      height: 18px;
    }

    h2.mihead {
      display: block;
      background: #EFD09F;
      color: #000000;
      font-variant: normal;
      font-size: 8.75pt;
      line-height: 18px;
      padding-top: 0px;
      vertical-align: bottom;
      height: 18px;
    }

    p.publishedIn {
      font-size: 8pt;
      margin-top: 10px;
    }

    h2.artifactHeading1 {
      font-size: 14pt;
      padding-left: 5px;
      padding-top: 5px;
      margin: 0px;
      background: #FFFFFF;
      color: #254950;
      font-variant: normal;
    }

    h2.artifactHeading2 {
      font-size: 14pt;
      padding-left: 5px;
      padding-top: 5px;
      margin: 0px;
      background: #FFFFFF;
      color: #556C75;
      font-variant: normal;
    }

    h2.ah1 {
      font-size: 14pt;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 2px;
      margin: 0px;
      background: #FFFFFF;
      color: #254950;
      font-variant: normal;
    }

    h2.ah2 {
      font-size: 14pt;
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 2px;
      margin: 0px;
      background: #FFFFFF;
      color: #556C75;
      font-variant: normal;
    }

    h2.ah3 {
      font-size: 12pt;
      padding-left: 5px;
      padding-top: 5px;
      margin: 0px;
      background: #FFFFFF;
      color: #556C75;
      font-variant: normal;
    }

    p.mistat {
      padding: 0px 0px 0px 15px;
      display: block;
      margin: 0;
      background: #F8E9D5;
      font-size:8.75pt;
      color: #000000;
    }

    p.mistatAI {
      padding: 0px 0px 0px 15px;
      margin: 0;
      background: #F8E9D5;
      font-size:8.75pt;
      color: #000000;
      height: 36px;
    }

    span.miright {
      padding: 0px 5px 0px 0px;
      margin-top: 0px;
      text-align: right;
      float: right;
      position:relative;
    }

    p.indent {
      padding: 0px 0px 0px 30px;
      text-indent: -15px;
    }

    p.indent1 {
      padding: 0px 0px 0px 45px;
      text-indent: -15px;
    }

    p.indent2 {
      padding: 0px 0px 0px 60px;
      text-indent: -15px;
    }

    p.mitext {
      padding: 0px 0px 0px 5px;
      margin: 0;
      background: #FFFFFF;
      font-size:8.75pt;
      color: #000000;
    }

    ul.mitext {
      margin-bottom: 1em;
      display: block;
      padding: 2px 5px;
      margin-top: 0;
      margin-right: 0;
      background: #FFFFFF;
      font-size:8.75pt;
      color: #000000;

      li {
        list-style-image: url("http://www.wizards.com/dnd/images/symbol/x.gif");
        color: #000000;
      }
    }

    ul.mistat {
      margin-bottom: 0;
      padding: 2px 5px 2px 30px;
      margin: 0;
      background: #F8E9D5;
      font-size:8.75pt;
      color: #000000;

      li {
        list-style-image: url("http://www.wizards.com/dnd/images/symbol/x.gif");
        color: #000000;
      }
    }

    h1.miset {
      background: #22444B;
      font-size:12pt;
      font-weight:bold;
      height: 17pt;
      margin-top: 2;
      line-height: 1.5em;

      .milevel {
        padding-right: 15px;
        margin-top: 0px;
        text-align: right;
        float: right;
        position:relative;
      }
    }

    .ignore { }

    th.miset {
      background: #22444B;
      color: #FFFFFF;
      text-align: left;
      padding: 0 0 0 5px;
    }

    h1.thHead {
        background: #45133C;
        height:38px;

      .thLevel {
        margin-top: 0;
        text-align: right;
        position:relative;
        top:-60px;
        padding-right: 15px;
        float: right;
      }

      .thSubHead, .thXP {
        display: block;
        position: relative;
        z-index: 99;
        top: -0.75em;
        height: 1em;
        font-weight: normal;
        font-size: 0.917em;
      }
    }

    h2.thHead {
      display: block;
      background: #65345D;
      color: #FFFFFF;
      font-variant: small-caps;
      font-size: 8.75pt;
      line-height: 18px;
      padding-top: 0px;
      vertical-align: bottom;
      height: 18px;
    }

    p.thBody {
      padding: 0px 0px 0px 30px;
      text-indent: -15px;
      display: block;
      margin: 0;
      background: #E8F2D6;
      font-size:8.75pt;
      color: #000000;
    }

    p.tbod {
      padding: 0px 0px 0px 45px;
      text-indent: -15px;
      display: block;
      margin: 0;
      background: #E8F2D6;
      font-size:8.75pt;
      color: #000000;
    }

    p.thStat {
      padding: 0px 0px 0px 15px;
      display: block;
      margin: 0;
      background: #E8F2D6;
      font-size:8.75pt;
      color: #000000;
    }

    span.thInit {
      background: #E8F2D6;
      font-size:8.75pt;
      color: #000000;
      position: absolute;
      left: 400px;
      top: 53px;
    }

    p.th2 {
      padding: 0px 0px 0px 15px;
      display: block;
      margin: 0;
      background: #CADBB7;
      font-size:8.75pt;
      color: #000000;
    }
  }

  .identification {
    position: absolute;
    bottom: 1em;
    right: 1em;
    color: #999;
    font-size: 0.7em;
  }
}
