body {
  background-color: #ddd;

  #page {
    margin: 0 auto;
    width: 95%;

    h1 {
      font-size: 2em;
      padding: 0.2em 0.5em;
      margin-bottom: 0.5em;
      background-color: white;
      border-radius: 0.3em;

      form {
        font-weight: normal;
        display: inline;
        margin-left: 1em;
      }

      @media screen and (max-width: 768px) {
        font-size: 1.5em;
        padding: 0.1em 0.5em;
      }

      a.btn {
        font-weight: normal;
        position: relative;
        white-space: nowrap;
        bottom: 0.2em;

        @media screen and (min-width: 768px) {
          bottom: 0.4em;
        }
      }
    }

    h2 {
      font-size: 1.5em;
      padding: 0.1em 0.5em;
      margin-bottom: 0.5em;
      background-color: #eee;
      border-radius: 0.3em;

      @media screen and (max-width: 768px) {
        font-size: 1.2em;
        padding: 0 0.5em;
      }
    }
  }
}
